/* Grid columns heights */
.height-6em {
	height: 6em;
}

.height-max{
	height: 100%;
}

.ribbon {
	display: table;
	width: 100%;
	height: 100%;
}

.ribbon span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}